<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.animationtest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.Camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".DropActivity" />
        <activity android:name=".FlikerProgressBarActivity" />
        <activity android:name=".PanelActivity" />
        <activity android:name=".CityActivity" />
        <activity android:name=".CoinDropActivity" />
        <activity android:name=".VPGalleryActivity" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LauncherViewActivity" />
        <activity android:name=".PolygonsViewActivity" />
        <activity
            android:name=".CommonActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".BannerActivity"></activity>
    </application>

</manifest>